.root {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 200px;
    background-color: #f5f5ff;
}

.btn {
    display: none;

    padding: 10px;
    border-radius: 10px;

    background-color: #ee0b6d;
    border-color: transparent;

    color: white;
    font-size: 20px;
}

.btn:hover {
    background-color: #ca095e;
    transform: scale(1.02);
}